.service__container {
    padding-top: 130px;
    min-height: 837px;
    position: relative;
}
@media (max-width: 1998.98px) {
    .service__container {
        height: auto;
    }
}
.service__container::after {
    content: "";
    background-color: #f2bdff45;
    width: 32%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 68%;
    z-index: -1; 
}
@media (min-width: 600px) {
    .service__container::after {
        width: 45%;
    }
}
.service__article {
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}
.service__article:nth-of-type(2) {
    flex-direction: row-reverse;
    text-align: right;
}
.service__title {
    text-align: center;
    font-weight: 800;
    font-size: 54px;
    line-height: 73px;
    margin-bottom: 20px;
    opacity: 0.3;
}
.article__content {
    flex: 0 1 75%;
}
.article__title {
    color: rgb(71, 121, 168);
    margin-bottom: 10px;
    font-size: 26px;
}
.article__text {
    margin-bottom: 10px;
    text-align: justify;
}
.article__icon {
    flex: 0 1 20%;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon1 {
    background-image: url(../../assets/icons/service/item1.webp);
}
.icon2 {
    background-image: url(../../assets/icons/service/icon2.png);
}
.icon3 {
    background-image: url(../../assets/icons/service/icon3.webp);
}

.service__article-btn {
    font-family: inherit;
    color: rgb(71, 121, 168);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: #ffffff00;
    border: none;
    box-shadow: 2px 3px 1px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}
.service__article-btn::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url('../../assets/icons/arrow.png');
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-size: contain;
}
.service__article-btn:hover {
    box-shadow: 1px 1px 1px 0 #000;
}