.form {
    position: relative;
    z-index: 2;
    display: flex;
    height: 86px;
    margin-right: -188px;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px #00000002, 0px 8.148148536682129px 6.518518447875977px 0px #00000003, 0px 20px 13px 0px #00000004, 0px 38.51852035522461px 25.481481552124023px 0px #00000005, 0px 64.81481170654297px 46.85185241699219px 0px #00000006, 0px 100px 80px 0px #00000008;

}
.form__input {
    width: 100%;
    border: 1px solid #DADADA;
    background: url(../../../assets/icons/icon_for_input_header.svg) 33px 47% no-repeat;
    background-size: 21px;
    flex: 1 1 auto;
    padding-left: 74px;
}
.form__input::placeholder{
    color: #DADADA;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1%;
}
.form__btn {
    flex: 0 0 188px;
    color: #FFFFFF;
    background-color: #F85A47;
    border: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    transition: all 0.5s;
}
.form__btn:hover{
    cursor: pointer;
    color: #BDCCFF;
    background-color: #f85947e3;
    text-shadow: 1px 1px 1px #000000;
    scale: 1.1;
    translate: 10px;
}

@media (max-width: 767.98px) {
    .form {
        margin-right: 0;
        margin-bottom: 22px;
        height: 60px;
    }
    .form__btn {
        flex: 0 1 47%;
    }
    .form__btn:hover{
        scale: 1;
        translate: 0;
    }
    .form__input {
        background-position: 15px;
        padding-left: 45px;
        background-size: 16px;
    }
    .form__input::placeholder {
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width: 479.98px) {
    .form {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }
    .form__input {
        height: 40px;
        border-color: rgb(162, 161, 161);
    }
    .form__btn {
        padding: 10px;
    }
    .form__input::placeholder {
        color: rgb(162, 161, 161);
    }
}