[class*="__container"] {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
@media (max-width: 1998.98px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
@media (max-width: 990.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}