.tabs__controls {
    margin-bottom: 45px;
    display: flex;
    gap: 50px;
}
.tabs__btn {
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    border: none;
    background: none;
    padding-bottom: 12px;
}
.tabs__btn:not(.active):hover {
    text-shadow: 1px 1px 2px #000;
    cursor: pointer;
}
.tabs__btn.active {
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #F85A47;
    border-bottom: 1px solid #F85A47;
}
.tabs__images {
    display: flex;
    gap: 30px;
}
.tabs__images-item {
    flex: 0 1 32%;
    height: 300px;
}
.tabs__images-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .deals__container {
        margin-top: 150px;
    }
}
@media (max-width: 767.98px) {
    .deals__container {
        margin-top: 100px;
    }
    .tabs__controls {
        flex-wrap: wrap;
        justify-content: start;
    }
}
@media (max-width: 638.98px) {
    .tabs__images {
        flex-direction: column;
    }
}
@media (max-width: 574.98px) {
    .tabs__controls {
        flex-direction: column;
        gap: 20px;
    }
}